<html>
    <head>
        <title>Recipes Database</title>
        <meta name="description" content="Index">
        <link rel="stylesheet" href="css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css?family=Lexend" rel="stylesheet" type="text/css">
    </head>

    <!-- Navigation Bar -->
    <div class="nav">
        <a href="index.html" class="logo">SITE NAME</a>
        <a href="index">Home</a>
        <a href="form">Form</a>
        <a class="active" href="all_recipes">All Recipes</a>
    </div> 
    
    <!-- NEED TO UPDATE THIS TO PROPERLY DISPLAY ALL RECIPES -->
    <body>
        <h1>All Recipes: </h1>
            <ul>
                <% for(recipe of recipes) { %>
                    <li>
                        <%= recipe.name + " "  %> 
                    </li>
                <% } %>
            </ul>
    </body>
</html>