<html>
    <head>
        <title>Recipes Database</title>
        <meta name="description" content="Index">
        <link rel="stylesheet" href="css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css?family=Lexend" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>

    <!-- Navigation Bar -->
    <div class="logonav">
        <a href="index" class="logo">Sensitivity Savors</a>
    </div>
    <div class="nav">
        <a href="index">Home</a>
        <a href="form">Form</a>
        <a class="active" href="all_recipes">All Recipes</a>
    </div>  
    
    <!-- NEED TO UPDATE THIS TO PROPERLY DISPLAY ALL RECIPES -->
    <body>
        <div class="filter-button">
            <a href="#" class="filter-link">Filter <i class="material-icons">filter_list</i></a>
        </div>
        <h1>All Recipes: </h1>
        
        <div class="recipes-grid">
            <% recipes.forEach(recipe => { %>
                <a href="recipe_details/<%= recipe._id %>" class="recipe-link">
                    <div class="recipe-item">
                        <div class="image-container">
                            <img src="<%= recipe.image_url %>" alt="<%= recipe.name %>">
                        </div>
                        <p><%= recipe.name %></p>
                    </div>
                </a>
            <%}) %>
        </div>
    </body>
</html>