<html>
    <head>
        <title>Recipes Database</title>
        <meta name="description" content="Index">
        <link rel="stylesheet" href="css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css?family=Lexend" rel="stylesheet" type="text/css">
    </head>

    <!-- Navigation Bar -->
    <div class="nav">
        <a href="index" class="logo">SITE NAME</a>
        <a class="active" href="index">Home</a>
        <a href="form">Form</a>
        <a href="all_recipes">All Recipes</a>
    </div> 

    <body>
        <h1>THIS IS THE INDEX PAGE</h1>
        <p>
            blah blah blah<br>
        </p>

        <h2>Instructions</h2>
        <p>
            Something something something <br>
        </p>

    </body>
</html>