<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Recipes Database - New Recipe</title>
        <link rel="stylesheet" href="css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Lexend" rel="stylesheet" type="text/css">
    </head>
    <body>

        <!-- Navigation Bar -->
        <div class="logonav">
            <a href="index" class="logo">Sensitivity Savors</a>
        </div>
        <div class="nav">
            <a href="index">Home</a>
            <a class="active" href="form">Form</a>
            <a href="all_recipes">All Recipes</a>
        </div>

        <!-- Recipe Submission Form -->
        <div class="form-container">
            <h1>New Recipe</h1>
            <form id="recipe-form" method="POST" action="/recipe/new" enctype="multipart/form-data" onsubmit="submitRecipe(this)">
                <label for="name">Recipe Name:</label>
                <input type="text" id="name" name="name" required><br>

                <label for="author">Author:</label>
                <input type="text" id="author" name="author"><br>

                <label>Upload profile picture</label>
                <input type="file" name="profile-pic" required/>

                <label for="prep_time_min">Preparation Time (minute):</label>
                <input type="number" id="prep_time_min" name="prep_time_min"><br>

                <label for="prep_time_sec">Preparation Time (second):</label>
                <input type="number" id="prep_time_sec" name="prep_time_sec"><br>

                <label for="cook_time_min">Cook Time (minute):</label>
                <input type="number" id="cook_time_min" name="cook_time_min"><br>

                <label for="cook_time_sec">Cook Time (second):</label>
                <input type="number" id="cook_time_sec" name="cook_time_sec"><br>

                <label for="total_time_min">Total Time (minute):</label>
                <input type="number" id="total_time_min" name="total_time_min"><br>

                <label for="total_time_sec">Total Time (second):</label>
                <input type="number" id="total_time_sec" name="total_time_sec"><br>

                <label for="categories">Diet Categories:</label>
                <select id="categories" name="categories" size="4" multiple>
                    <% categories.forEach((category) => { %>
                        <option value="<%= category._id %>"><%= category.dietCategory %></option>
                    <% }) %>
                </select>

                <h2>Ingredients:</h2>
                <div id="ingredients">
                    <div class="ingredient">
                        <label for="ingredient_name">Name:</label>
                        <input type="text" class="ingredient_name" name="ingredients[0][name]"><br>
                        <label for="ingredient_quantity">Quantity:</label>
                        <input type="number" class="ingredient_quantity" name="ingredients[0][quantity]"><br>
                        <label for="ingredient_unit">Unit:</label>
                        <input type="text" class="ingredient_unit" name="ingredients[0][unit]"><br>
                        <label for="ingredient_note">Optional Note:</label>
                        <input type="text" class="ingredient_note" name="ingredients[0][note]"><br>
                    </div>
                </div>

                <!-- JavaScript will allow for dynamic adding of more ingredient fields if needed -->
                <button type="button" onclick="addIngredient()">Add Ingredient</button><br>

                <!-- instructionsSchema (from /databases/recipes.js) -->
                <h2>Instructions:</h2>
                <div id="instructions">
                    <div class="instruction">
                        <label for="instruction">Step 1:</label>
                        <textarea name="instructions[0][step]"></textarea>
                    </div>
                </div>

                <!-- Button to add more instructions -->
                <button type="button" onclick="addInstruction()">Add Instruction</button><br>

                <button type="submit">Submit</button>
            </form>
        </div>

        <!-- JavaScript for adding dynamic fields -->
        <script src="js/scripts.js"></script>

    </body>
</html>
