<html>
    <head>
        <title>Recipes Database</title>
        <meta name="description" content="Index">
        <link rel="stylesheet" href="css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css?family=Lexend" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>

    <!-- Navigation Bar -->
    <div class="logonav">
        <a href="index" class="logo">Sensitivity Savors</a>
    </div>
    <div class="nav">
        <a href="index">Home</a>
        <a href="form">Form</a>
        <a href="all_recipes">All Recipes</a>
        <a class="active" href="q_a_chat">Q&A Chatbot</a>
    </div>  
    
    <!-- NEED TO UPDATE THIS FOR Q&A CHAT BOT -->
    <body>
        <div class="filter-button">
            <a href="#" class="filter-link">Filter <i class="material-icons">filter_list</i></a>
        </div>
        <h1>Q&A Chat</h1>
        
        
    </body>
</html>