<html>
    <head>
        <title>Recipes Database</title>
        <meta name="description" content="Index">
        <link rel="stylesheet" href="http://localhost:3000/css/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css?family=Lexend" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>

    <!-- Navigation Bar -->
    <div class="logonav">
        <a href="index" class="logo">Sensitivity Savors</a>
    </div>
    <div class="nav">
        <a href="http://localhost:3000/index">Home</a>
        <a href="http://localhost:3000/form">Form</a>
        <a href="http://localhost:3000/all_recipes">All Recipes</a>
        <a class="active" href="http://localhost:3000/q_a_chat">Q&A Chatbot</a>
    </div>  
    
    <body>
        <h1>Q&A Chat</h1>
        <div>
            <form id="chatbox" action="http://127.0.0.1:8000/query" method="POST" onsubmit="askChatBot(e)">
                <label for="question">Enter your question:</label>
                <% if (question) { %>
                    <input type="text" name="question" id="question" value="<%= question %>">
                <% } else { %>
                    <input type="text" name="question" id="question">
                <% } %>
                <button id="ask" type="submit">Ask</button>
            </form>
        </div>
        <% if (pred) { %>
        <div>
            <p id="answer"><%= pred.answer %></p>
        </div>
        <% } %>
        <script src="http://localhost:3000/js/scripts.js"></script>
    </body>
</html>